.header-page {
  width: 100vw;
  height: 10vh;
  margin: 0; 
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name {
  font-family: 'VT323', monospace;
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  padding: 5px 0;
}


.canvas-level1 {
  display: flex;
  justify-content: center;
  align-items: center;
}